<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :main_slider_values %><br>
    <%= f.number_field :main_slider_values %>
  </div>
  <div class="field">
    <%= f.label :sub_slider_values %><br>
    <%= f.text_field :sub_slider_values %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
